<div id="partialComponentbody">

    <center>
        <h2 class="text-dark">Dashboard ::</h2>
    </center>
     <section class="content">
      <div class="container-fluid">
      
            @await Component.InvokeAsync("DashboardStatistics")

         </div>

         </section>
 </div>
 